################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/actions
/help
/plugins
/pylib/abc.py
/pylib/aifc.py
/pylib/antigravity.py
/pylib/anydbm.py
/pylib/argparse.py
/pylib/ast.py
/pylib/asynchat.py
/pylib/asyncore.py
/pylib/atexit.py
/pylib/audiodev.py
/pylib/base64.py
/pylib/BaseHTTPServer.py
/pylib/Bastion.py
/pylib/bdb.py
/pylib/binhex.py
/pylib/bisect.py
/pylib/calendar.py
/pylib/cgi.py
/pylib/CGIHTTPServer.py
/pylib/cgitb.py
/pylib/chunk.py
/pylib/cmd.py
/pylib/code.py
/pylib/codecs.py
/pylib/codeop.py
/pylib/collections.py
/pylib/colorsys.py
/pylib/commands.py
/pylib/compileall.py
/pylib/ConfigParser.py
/pylib/contextlib.py
/pylib/Cookie.py
/pylib/cookielib.py
/pylib/copy.py
/pylib/csv.py
/pylib/ctypes
/pylib/decimal.py
/pylib/difflib.py
/pylib/dircache.py
/pylib/dis.py
/pylib/distutils
/pylib/doctest.py
/pylib/DocXMLRPCServer.py
/pylib/dumbdbm.py
/pylib/dummy_thread.py
/pylib/dummy_threading.py
/pylib/email
/pylib/encodings
/pylib/filecmp.py
/pylib/fileinput.py
/pylib/fnmatch.py
/pylib/formatter.py
/pylib/fpformat.py
/pylib/fractions.py
/pylib/ftplib.py
/pylib/functools.py
/pylib/genericpath.py
/pylib/getopt.py
/pylib/getpass.py
/pylib/gettext.py
/pylib/glob.py
/pylib/gzip.py
/pylib/hashlib.py
/pylib/heapq.py
/pylib/hmac.py
/pylib/htmlentitydefs.py
/pylib/htmllib.py
/pylib/HTMLParser.py
/pylib/httplib.py
/pylib/ihooks.py
/pylib/imaplib.py
/pylib/imghdr.py
/pylib/importlib
/pylib/imputil.py
/pylib/inspect.py
/pylib/io.py
/pylib/json
/pylib/keyword.py
/pylib/lib2to3
/pylib/linecache.py
/pylib/locale.py
/pylib/logging
/pylib/macpath.py
/pylib/macurl2path.py
/pylib/mailbox.py
/pylib/mailcap.py
/pylib/markupbase.py
/pylib/md5.py
/pylib/mhlib.py
/pylib/mimetools.py
/pylib/mimetypes.py
/pylib/MimeWriter.py
/pylib/mimify.py
/pylib/modulefinder.py
/pylib/multifile.py
/pylib/mutex.py
/pylib/netrc.py
/pylib/new.py
/pylib/nntplib.py
/pylib/ntpath.py
/pylib/nturl2path.py
/pylib/numbers.py
/pylib/opcode.py
/pylib/optparse.py
/pylib/os.py
/pylib/os2emxpath.py
/pylib/pdb.py
/pylib/pickle.py
/pylib/pickletools.py
/pylib/pipes.py
/pylib/pkgutil.py
/pylib/platform.py
/pylib/plistlib.py
/pylib/popen2.py
/pylib/poplib.py
/pylib/posixfile.py
/pylib/posixpath.py
/pylib/pprint.py
/pylib/profile.py
/pylib/pstats.py
/pylib/pyclbr.py
/pylib/pydoc.py
/pylib/pydoc_data
/pylib/py_compile.py
/pylib/Queue.py
/pylib/quopri.py
/pylib/random.py
/pylib/repr.py
/pylib/rexec.py
/pylib/rfc822.py
/pylib/rlcompleter.py
/pylib/robotparser.py
/pylib/runpy.py
/pylib/sched.py
/pylib/sets.py
/pylib/sgmllib.py
/pylib/sha.py
/pylib/shelve.py
/pylib/shlex.py
/pylib/shutil.py
/pylib/SimpleHTTPServer.py
/pylib/SimpleXMLRPCServer.py
/pylib/site-packages
/pylib/site.py
/pylib/smtpd.py
/pylib/smtplib.py
/pylib/sndhdr.py
/pylib/SocketServer.py
/pylib/sqlite3
/pylib/sre_compile.py
/pylib/sre_constants.py
/pylib/sre_parse.py
/pylib/ssl.py
/pylib/stat.py
/pylib/statvfs.py
/pylib/string.py
/pylib/StringIO.py
/pylib/stringold.py
/pylib/struct.py
/pylib/subprocess.py
/pylib/sunau.py
/pylib/sunaudio.py
/pylib/symbol.py
/pylib/sysconfig.py
/pylib/tabnanny.py
/pylib/tarfile.py
/pylib/telnetlib.py
/pylib/tempfile.py
/pylib/textwrap.py
/pylib/this.py
/pylib/threading.py
/pylib/timeit.py
/pylib/toaiff.py
/pylib/token.py
/pylib/tokenize.py
/pylib/trace.py
/pylib/traceback.py
/pylib/types.py
/pylib/unittest
/pylib/urllib.py
/pylib/urllib2.py
/pylib/urlparse.py
/pylib/user.py
/pylib/UserDict.py
/pylib/UserList.py
/pylib/UserString.py
/pylib/uu.py
/pylib/uuid.py
/pylib/warnings.py
/pylib/wave.py
/pylib/weakref.py
/pylib/webbrowser.py
/pylib/whichdb.py
/pylib/wsgiref
/pylib/xdrlib.py
/pylib/xml
/pylib/xmllib.py
/pylib/xmlrpclib.py
/pylib/zipfile.py
/pylib/_abcoll.py
/pylib/_LWPCookieJar.py
/pylib/_MozillaCookieJar.py
/pylib/_pyio.py
/pylib/_strptime.py
/pylib/_threading_local.py
/pylib/_weakrefset.py
/pylib/__future__.py
/pylib/__phello__.foo.py
/Caliburn.Micro.dll
/Caliburn.Micro.Platform.dll
/CannedBytes.dll
/CannedBytes.IO.dll
/CannedBytes.Midi.dll
/DolphiiMote.dll
/EyeXFramework.dll
/FreePIE.Console.exe
/FreePIE.Core.Contracts.dll
/FreePIE.Core.dll
/FreePIE.exe
/FreePIE.GUI.CodeCompletion.dll
/freepie_io.dll
/freepie_io_x64.dll
/FreeTrackClient.dll
/Hardcodet.NotifyIcon.Wpf.dll
/ICSharpCode.AvalonEdit.dll
/IronPython.dll
/IronPython.Modules.dll
/libfreespace.dll
/Microsoft.Dynamic.dll
/Microsoft.Scripting.dll
/Nefarius.ViGEm.Client.dll
/Ninject.dll
/NPClient.dll
/OpenVRFreePIE.dll
/openvr_api.dll
/openxr-api-layer.json
/OpenXRFreePIE.dll
/openxr_loader.dll
/OVRFreePIE.dll
/piefreespace.dll
/PPJoyWrapper.dll
/sixense.dll
/sixense_fake.dll
/sixense_fake_x64.dll
/System.Windows.Interactivity.dll
/ThreeSpace_API.dll
/Tobii.EyeX.Client.dll
/Tobii.EyeX.Client.Net20.dll
/Tracker.dll
/Visiblox.Charts.dll
/Xceed.Wpf.AvalonDock.dll
/Xceed.Wpf.AvalonDock.Themes.Expression.dll
